header p  {

background-color: violet;
color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
font-size: 30px ;


}

body {

background-color: black;

}

.bio {

color: blanchedalmond;
font-size: 18px ;
padding: 20px ;

}
footer div ol li {

font-size: 17px ;
color: rgb(188, 235, 20);
padding: 20px;


}
.head4 {

padding: 20px;
font-size: 30px;
color: rgb(157, 193, 0);

}